@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/black-bison');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(var(--foreground-rgb));

}

.section-1{
  background-image: url('./bg.jpg');
  background-size: cover;
  background-position: left;
  color: rgb(var(--foreground-rgb));
}

.section-1 div {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 90%);
}
